# Next Auth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Keycloak OIDC
AUTH_KEYCLOAK_ID=salon-frontend
AUTH_KEYCLOAK_SECRET=
AUTH_KEYCLOAK_ISSUER=http://localhost:9080/realms/rivoo

# API Gateway
NEXT_PUBLIC_API_URL=http://localhost:8080
NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:9080
